*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #ebfffc;
}

html,body{
    height: 100%;
    width: 100%;
    background: #222;
}
.card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    background: linear-gradient(135deg,#00feba,#5b548a);
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    outline: 0;
    width: 75%;
    color: #222;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1.2vw;
}
.search button{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #ebfffc;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search button img{
    width: 20px;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    display: none;
}
.weather-icon{
    width: 230px;
}
.weather h1{
    margin-top: 0;
    font-size: 65px;
    font-weight: 600;
}
.weather h2{
    font-size: 45px;
    font-weight: 500;
}
.detalis{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
}
.col img{
    width: 50px;
    object-fit: cover;
}
.humidity, .wind{
    font-size: 28px;
    font-weight: 400;
}

@media (max-width:600px) {
    .card{
        width: 75%;
        padding: 20px 30px;
        border-radius: 25px;
    }
    .search{
        gap: 5px;
    }
    .search input{
        font-size: 4vw;
        width: 80%;
        border-radius: 25px;
    }
    .search button{
        height: 9.5vw;
        width: 9.5vw;
    }
    .error{
        font-size: 4.7vw;
    }
    .weather-icon{
        width: 200px;
        margin-top: 3vw;
    }
    .weather h1{
        font-size: 13.5vw;
    }
    .weather h2{
        margin-top: -7px;
        font-size: 11vw;
    }
    .detalis{
        flex-direction: column;
        margin-top: 50px;
        gap: 30px;
    }
    .col{
        gap: 15px;
    }
    .col img{
        width: 45px;
    }
    .humidity, .wind{
        font-size: 5vw;
    }

}
